@model int

@{
    ViewData["Title"] = "Request Details";
}
<style>
    button[data-wizard-next], button[data-wizard-reset], button[data-wizard-previous], button[data-wizard-done], button[k-wizard-pager ] {
        display:none;
    }
</style>

<link href="~/css/timeline.css" rel="stylesheet" />
<link href="~/css/requestdetailsstyles.css" rel="stylesheet" />



<div id="details-wizard" class="wizard"></div>



@section Scripts {
   @*  <script src="~/js/request_details.js"></script>
    <script src="~/js/requestupdates.js"></script> *@

   
    <script>
        var requestId = '@Model';
    </script>
    <script src="~/js/request_details_2.js"></script>
}
