@model DRF.ViewModels.RequestDetailViewModel

@{
    ViewData["Title"] = "Request Details";
}

<link href="~/css/requestdetailsstyles.css" rel="stylesheet" />
<link href="~/css/timeline.css" rel="stylesheet" />

<input type="hidden" id="request-id" value="@Model.Id" />

<div id="details-wizard" class="wizard"></div>



@section Scripts {
    <script src="~/js/request_details.js"></script>
    <script src="~/js/requestupdates.js"></script>
    <script src="~/js/timeline.js"></script>
}
