@model IEnumerable<DRF.ViewModels.RequestViewModel>

@{
    ViewData["Title"] = "Submitted Requests";
}
@* <link href="~/css/requestslist.css" rel="stylesheet" />
 *@


<link href="~/lib/kendo/kendo.bootstrap-v4.min.css" rel="stylesheet" />
<link href="~/css/requestslist.css" rel="stylesheet" />


<div id="example">


    <div id="requests-grid"></div>
</div>


@section Scripts {
    <script src="~/js/requests.js" asp-append-version="true"></script>
}