.wizard .card {
    margin-bottom: 20px;
}

.wizard .card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.wizard .card-body {
    padding: 20px;
}

.wizard .card p {
    margin-bottom: 10px;
    font-size: 16px;
}




.data-upload {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

    .data-upload h4 {
        margin-bottom: 10px;
    }


.activity-notes {
    margin-top: 20px;
}


.success-msg {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
