.step {
    display: none;
}

    .step.active {
        display: block;
    }

.progress-bar {
    width: 20%;
}

.error {
    color: red;
    font-size: 0.9em;
}

@media (max-width: 767px) {
    .progress-bar {
        width: 100%;
    }
}
.k-picker{
    display:flex !important;
}

.k-wizard-content {
    padding: 20px !important;
}

.invalid-input {
    font-weight: bold;
    color: #dc3545
}