@{
    ViewData["Title"] = "Data Request Form";
}


<div class="row">
    <div class="col-md-12">
        <div style="padding:20px;">
        <div id="wizard"></div>
        </div>
    </div>
    
</div>


@section Scripts {
    <script src="~/js/create.js" asp-append-version="true"></script>
}