@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model int

@{
    ViewData["Title"] = "Request Details";
}

<link href="~/css/timeline.css" rel="stylesheet" />
<link href="~/css/requestdetailsstyles.css" rel="stylesheet" />



<div id="details-wizard" class="wizard"></div>



@section Scripts {
    @*  <script src="~/js/request_details.js"></script>
    <script src="~/js/requestupdates.js"></script> *@

    <script src="~/js/request_details_2.js"></script>
    <script>
        var requestId = '@Model';
    </script>
}
